.background {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-image: url(../../assets/images/SearchScreen.jpeg);
}

.find {
  width: 100%;
  height: 60px;
  z-index: 99;
  position: relative;
  top: 550px;
  border: none;
  background: none;
}
