$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$primary-brand-color: #00a88f;
$primary-accent-color: #e2f6f0;
$primary-background-color: #fff;
$heading-background-color: #160078;

$primary-font-color: #192325;

$primary-optional-color: #b7cec9;
$primary-background-optional-color: #ffffff;

$secondary-color: #ffffff;
$secondary-background-color: #e4efec;

$button-background: #00a88f;
$button-background-hover: #00705f;
$button-background-active: #003e34;

$secondary-button-background: #2332c4;

$ticket-background-color: #48d5b5;

$nav-background-color: #ffffff;
$nav-item-hover-color: #f2f4f4;

$border-color: #003e34;
$border-secondary-color: #cfcfcf;

$nav-active-color: #160078;
$nav-color: #5b6466;

$margin-tablet: 1.5rem;
$margin-mobile: 1rem;

$min-padding: 0.5rem;

$loader-width: 12.5rem;
