$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-brand-color: #00a88f;
$primary-accent-color: #e2f6f0;
$primary-background-color: #fff;

$primary-font-color: #192325;

$primary-optional-color: #b7cec9;
$primary-background-optional-color: #ffffff;

$secondary-color: #ffffff;
$secondary-background-color: #e4efec;

$border-color: #b7cec9;

$margin-tablet: 1.5rem;
$margin-mobile: 1rem;

$min-padding: 0.5rem;

$loader-width: 12.5rem;
