@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.bottom-navigation {
  @include flex(space-between);
  background-color: $primary-background-color;
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;

  &__item {
    text-align: center;
    &--star {
      & svg > * {
        fill: none;
        stroke: $primary-font-color;
      }
    }
    &--active {
      & svg > * {
        fill: $nav-active-color;
      }

      &.bottom-navigation__item--star svg > * {
        fill: none;
        stroke: $nav-active-color;
      }

      & > .bottom-navigation__label {
        color: $nav-active-color;
      }
    }
  }

  &__icon {
    height: 1.3rem;
  }

  &__label {
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 1rem;
    color: $nav-color;
  }
}
