@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.explore {
  &-header {
    position: relative;
    background-color: $nav-active-color;
    padding: 3.25rem 1.0625rem 0.875rem;
    @include flex(start, end);

    &__title {
      position: absolute;
      width: calc(100vw - 2rem);
      text-align: center;
      font-size: 1rem;
      font-weight: bold;
      color: $secondary-color;
      margin: 0;
      padding: 0;
    }
  }
  &-feed {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    &__filters {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      &-title {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
      &-container {
        display: flex;
        gap: 0.5rem;
        overflow-x: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
      }
      &-item {
        padding: 0.125rem 1rem;
        font-size: 0.75rem;
        white-space: nowrap;
        @include flex(center);
        border-radius: 5px;
        border: 2px solid $border-secondary-color;

        &--active {
          border: 2px solid $nav-active-color;
          color: $nav-active-color;
        }
      }
    }
  }
}
