@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.footer {
  padding-top: $min-padding;
  padding-bottom: $min-padding;
  width: 100%;
  @include tablet {
    padding-top: calc($min-padding * 3);
  }

  &--filter-open {
    @include desktop {
      width: 75vw;
    }
  }

  &__top {
    @include tablet {
      @include flex(space-between, start);
      min-height: 30vh;
    }

    @include desktop {
    }
  }

  &__logo {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    @include tablet {
      padding: 0;
      flex-grow: 7;
    }

    @include desktop {
    }
  }
  &__section {
    padding: $min-padding 0;

    @include tablet {
      flex-grow: 1;
    }

    @include desktop {
    }
  }
  &__text {
    padding-bottom: calc($min-padding/2);
  }

  &__icons {
    padding: 0.5rem 0;
    @include flex(start);
    gap: $min-padding;
    @include desktop {
      display: none;
    }
    &--desktop {
      display: none;
      @include desktop {
        display: flex;
      }
    }
  }
  &__copywrite {
    @include flex(start);
    gap: calc($min-padding * 2);
    color: $primary-optional-color;
  }
}
