@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card-explore {
  background: $primary-background-color;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  width: 90%;
  text-align: center;
  position: relative;

  &__image-frame {
    background: $primary-accent-color;
    padding: 1rem;
    border-bottom: 5px solid $primary-brand-color;
    overflow: hidden;
  }

  &__image {
    aspect-ratio: 4 / 5;
    max-width: 100%;
  }

  &__actions {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    gap: 0.5rem;
  }

  &__icon {
    & > * {
      stroke: $primary-brand-color;
    }

    &--liked {
      fill: red;
      & > * {
        stroke: red;
      }
    }

    &--saved {
      fill: $primary-brand-color;
    }
  }

  &__content {
    padding: 1rem;
    position: relative;

    &__location {
      font-size: 1.1rem;
      font-weight: bold;
    }

    &__thought {
      margin-top: 0.5rem;
    }
  }
}
