@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.image-card {
  background-color: $primary-background-color;
  border: 1px solid $border-secondary-color;
  border-radius: 6px;
  overflow: hidden;

  &__top {
    position: relative;
  }

  &__img {
    min-height: 12.5rem;
    width: 100%;
    display: block;
  }

  &__name {
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: $secondary-background-color;
    margin: 0;
    border-top-left-radius: 8px;
    border-bottom: 1px solid $primary-accent-color;
  }
  &__row {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__sub-row {
    @include flex(space-between);
  }

  &__likes {
  }

  &__icon {
    & > path {
      fill: none;
      stroke: $primary-font-color;
    }

    &--liked {
      & > path {
        fill: goldenrod;
        stroke: goldenrod;
      }
    }
  }
  &__location {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  &__community-profile {
    padding-top: 0.2rem;
    @include flex(start);
    gap: 0.5rem;
    &-icon {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
    }
  }

  &__author {
    font-size: 1rem;
    color: $nav-color;
    margin: 0;
    padding: 0;
  }

  &__description {
    font-size: 1rem;
    color: $nav-color;
    margin: 0;
    padding: 0;
  }
  &__more {
    padding-top: 0.875rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: $nav-active-color;
  }
}
