@use "../../styles/partials/variables" as *;

.header {
  height: 6.9375rem;
  background-color: $heading-background-color;
  color: $secondary-color;
  display: flex;
  flex: 0 1 1;
  padding: 0 1rem;
  align-items: end;

  &__title {
    color: $secondary-color;
    padding-bottom: 0.5rem;
  }

  &__close {
    padding-bottom: 0.5rem;
  }
}

.list {
  padding: 1rem;
  padding-bottom: 2rem;
  &__item {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $border-color;
  }
}

.submit {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 1rem 0;
  background-color: $button-background;
  border: none;
  border-radius: 8px;
  color: $secondary-color;

  &:hover {
    background-color: $button-background-hover;
  }

  // &:active {
  //   background-color: $button-background-active;
  // }

  &:hover {
    background-color: $button-background-hover;
  }
}
